/* App styles */

* {
  box-sizing: border-box;
}

body {
  background: var(--subtle);
  color: var(--primary);
}

a {
  color: var(--contrast);
}

button {
  appearance: none;
  border: none;
  background: var(--subtle);
}

.error {
  position: relative;
  margin-bottom: var(--spacing);
  padding: var(--spacing) var(--spacing-bigger);
  background: url(../images/bell.svg) no-repeat center left 20px var(--subtle);
  background-size: 20px 20px;
  z-index: 1;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.close-btn {
  appearance: none;
  border: 0;
  width: 44px;
  height: 44px;
  background: url(../images/close.svg) no-repeat center center;
  background-size: 14px 14px;
  position: absolute;
  right: 0;
  top: calc(50% - 22px);
}

.header {
  width: 100%;
  padding: var(--spacing-small) var(--spacing);
  background: var(--lightest);
  box-shadow: var(--shadow);
  display: flex;
}

.header svg {
  margin: 0 auto;
  width: 150px;
  height: 35px;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}
