/* Toolbar styles */

.toolbar {
  width: 100%;
  padding: 0 var(--spacing-medium) var(--spacing-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--subtle);
}

.toolbar .total {
}

.toolbar .sort {
  display: flex;
}

.toolbar .sort-select {
  width: 200px;
  border: 1px solid var(--primary);
  padding: var(--spacing-small) var(--spacing-bigger) var(--spacing-small)
    var(--spacing-small);
  border-radius: var(--radius-small);
  height: 44px;
}

.toolbar .sort-btn {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  padding: 0;
  margin-left: var(--spacing-small);
  background: none;
}

.toolbar .sort-btn:before {
  content: '';
  display: block;
  width: 44px;
  height: 44px;
  background: url(../images/arrow-up.svg) no-repeat center center;
  background-size: 16px 16px;
}

.toolbar .sort-btn.desc:before {
  transform: rotate(180deg);
}
