/* Variables */

:root {
  --max-width: 1200px;

  --primary: #181e28;
  --secondary: #44195e;
  --lightest: #ffffff;
  --subtle: #f1f0f5;
  --contrast: #e12a7c;
  --error: #d73232;
  --gradient: linear-gradient(
    130deg,
    rgba(40, 14, 73, 1) 0%,
    rgba(68, 25, 94, 1) 57%,
    rgba(57, 25, 94, 1) 100%
  );

  --shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

  --spacing-smaller: 5px;
  --spacing-small: 10px;
  --spacing: 15px;
  --spacing-medium: 30px;
  --spacing-big: 40px;
  --spacing-bigger: 50px;

  --radius-small: 6px;
  --radius: 12px;
  --radius-big: 22px;
}

body {
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1230px;
}
